<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件案例-评论列表</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/vue/2.4.0/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <cmt-box @func="loadComments"></cmt-box>
        
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :key="item.id">
                <span class="badge">评论人： {{ item.user}} </span>
                {{ item.content }}
            </li>
        </ul>
        
    </div>

    <template id="tmp1">
        <div>
            <div class="form-group">
                <label>评论人： </label>
                <input type="text" class="form-control" v-model="user">
            </div>

            <div class="form-group">
                    <label>评论内容： </label>
                    <textarea class="form-control" v-model="content"></textarea>
                </div>
                <div class="form-group">
                        <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
                    </div>
        </div>
    </template>
    <script>

        var commentBox = {
            template: '#tmp1',
            data() {
                return {
                    user: '',
                    content: ''
                }
            },
            methods: {
                postComment() {
                    var comment = { id: Date.now(), user: this.user, content: this.content}
                    //从localStorage中获取所有的评论
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.unshift(comment)
                    //重新保存最新的评论数据
                    localStorage.setItem('cmts', JSON.stringify(list))
                    this.user = this.content = ''
                    this.$emit('func')
                }
            }
        }   

        var vm = new Vue({
            el: '#app',
            data: {
                list: [
                    { id: Date.now(), user: '李白', content: '天生我材必有用' },
                    { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
                    { id: Date.now(), user: '小马', content: '我不是为了要证明我有多了不起，而是要告诉自己我失去的东西，我就一定能拿回来' }
                ]
            },
            beforeCreate() {
                // 这里不能调用loadComments方法，datahe 和methods都还没有被初始化
            },
            created() {
                this.loadComments()
            },
            methods: {
                loadComments() {
                    var list =JSON.parse(localStorage.getItem('cmts') || '[]')
                    this.list = list;
                }
            },
            components: {
                'cmt-box': commentBox
            }
        }) 
    </script>
</body>
</html>